*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body{
  font-family: 'Helvetica Neun', Helvetica, Arial;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
  height:100%;
}
a {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: null;
  color: inherit;
}
/* SIDEBAR*/
#sidebar {
  position: absolute;
  width:100%;
  top: -120px;
  transition: top 0.7s ease-in-out;
  display: block;
  margin-left: 30%;
}
.menu, .sidebar{
  text-decoration: none;
  margin: 0;
  padding:0;
  cursor: pointer;

}
.menu > li{
  font-size: 20px;
  text-shadow: 1px 2px #691A99;
  box-shadow: 2px 3px deeppink;
  margin-left: 1%;
}
#sidebar.visible{
  top: 0;

}
.sidebar-btn {
  position: absolute;
  margin-top: 25px;
  margin-left: 25px;
  display: inline-block;
  vertical-align: middle;
  float: left;
  width: 5%;
  height: 5%;
  border: 0.5px solid white;
  cursor: pointer;
}

.sidebar-btn > span {
  display: block;
  height:5px;
  background-color: #fff;
  margin-bottom: 5px;
}

.sidebar-btn > span:nth-child(2){
  background-color: deeppink;
}
.menu {
  margin-top: 2%;
  margin-right: 5%;
  width: 100%;
  position: relative;
  list-style: none;
}

.sidebar-menu {
  text-align: center;
  font-weight: bold;
  width: 10%;
  padding: 1%;
  display: inline-block;
  color: #f7f7f7;
}

/* BIG CONTAINER*/
#big-container{
  margin: 0;
  padding: 0;
}

/*HEADER*/
.title {
  color: #691A99;
  text-shadow: 1px 1px #9B269F;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

header {
  opacity: 0.75;
  background: url(../image/vanessa_background.png) no-repeat;
  height: 100vh;
  background-position: bottom center;
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

  #front-text {
    text-align: center;
    color: white;
    text-shadow: 2px 3px #9B269F;
    margin-top: auto;
  }

#hello {
  text-align: center;
  font-size: 48px;
  color: white;
  text-shadow: 2px 3px #691A99;
  margin-top: auto;
  }

/*CONTAINER ABOUT*/
article {
  -webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
}
.about {
  width: 50%;
  margin-left: 25%;
  }

.about-text{
  text-align: left;
  text-shadow: none;
  color: #691A99;
  font-weight: normal;
  margin-bottom: 1.3em;
}

.about-container,  .container {
    margin-bottom: 4em;
  }

/*CONTAINER FOR CARD*/
.row{
    display: flex;
    justify-content: space-around;
  }

.col {
    transition: all .3s ease-in-out;
    position: relative;
    height: 350px;
    overflow: hidden;
  }

.col img {
  transition: all .25s linear;
  cursor: pointer;
  }

.col:hover{
  opacity: 0.75;
  }

.col:hover img {
  transform: scale(1.1);
}

.col .text-div {
  visibility: hidden;
  text-align: center;
  opacity: 0;
  position: absolute;
  display: block;
  min-width: 100%;
  bottom: -50px;
  left: 50%;
  transform: translate3d(-50%, 0%, 0);
  transition: all .25s linear;
  font-size: 36px;
  color: white;
  text-shadow: 2px 3px #691A99;
  }

  .col:hover .text-div{
    visibility: visible;
    opacity: 1;
    bottom: 20px;
  }

/*container card animals*/

.container-card{
  width: 341px;
  height: 350px;
  position: relative;
  perspective: 800px;
  }

#card, #card2, #card3 {
  width: 100%;
  height:100%;
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 1s;
}

#card figure, #card2 figure, #card3 figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#card .back, #card2 .back, #card3 .back{
  transform: rotateY( 180deg );
  transition: all .50 linear;
}

#card.flipped, #card2.flipped, #card3.flipped{
  transform: rotateY( 180deg );
  transition: all .50 linear;
}

/*DIV FOR SLIDER SKILLS*/
#skill-slider {
  width: 94%;
  height: 500px;
  overflow: hidden;
  border: solid 1px #c3c3c3;
  margin: 3%;
  display: none;

}

.list-slides{
  display: inline-block;
  width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

#skill-slider .slide{
  float: left;
  list-style-type: none;
  width: 100%;
  height: 500px;
  box-shadow: none;
}

button {
  position: absolute;
  height: 70%;
  color: deeppink;
  cursor: pointer;
  outline: none;
}
.next {
  right:5px;

}

.prev {
  left: 5px;
}


.slide1, .slide2, .slide3, .slide4, .slide5, .slide6 {background: #741EA1;}
.sum {background: #9B26AF}

/*CARD*/


.image-skill {
  width: 45%;
  height: 100%;
  padding: 3%;
  margin: 4%;
  float: left;
}

.insert{
  width: 50%;
  margin-top: 0;
  padding: 0;
  margin-left: 15%;
  padding-bottom: 10%;
}
.fa-html5, .fa-css3{
  color: white;
  font-size: 260px;
}
.level {
  position: relative;
  width: 100%;
  height: 30%
  padding: 1%;
  margin-top: 25%;
  background: deeppink;
  color: white;
}

.fa-star {
margin: 2%;
color: #68EFAD;
}
.title-skill, .h2-skill, .h2-level{
  text-shadow: none;
  color: white;
  font-weight: bold;
  padding: 2%;
  margin: 2%;
}
.title-skill{
  text-align: center;
}
.sum{
  height: 100%;
  float:right;
  width: 45%;
}

.slide6 .level{
  margin-top:5%;
}
/* FOOTER*/
footer.footer-container:after {
    display: table;
    clear: both;
    content: '';
}

.footer-container {
  width: 100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #9B26AF;
  color: white;

}

p {
  color:white;
  font-size: 18px;
  word-spacing: 15px;
  text-shadow: 1px 1px black;
}
.col1-footer, .col2-footer {
  width: 50%;
  box-shadow: null;
  text-shadow: none;
float: left;
padding: 2%;
}
.col1-footer {

border-width: 0 0.5px 0 0;
 border-style: solid;
 border-color: null white null null;
}
.fa-skype, .fa-envelope, .fa-sitemap{
  color: white;
  padding: 2%;
  margin-left: 5%;
}

.copyright {
width: 100%;
margin: 0;
display: block;
float: left;
background: #691A99;
}

.footer-img {
  display: flex;
}
.footer-img a{
  padding: 2%;
  color: white;
}
.list-footer{
  box-shadow: none;
  text-decoration: none;
  list-style: none;
  margin-top: 2%;
  padding-left: 0;
  padding-right:0;
  background: #9B26AF ;
}

main {
    flex: 1 0 auto;
  }

#back-draw {
  display: none;
}

.fa-hand-o-up {
  margin-top: 80%;
  margin-left: 20%;
}
