*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height:100%;
}

img {
  display: block;
  max-width: 100%;
}

#big-container{
  margin: 0;
  padding: 0;
}

.about {
  width: 50%;
  margin-left: 25%;
  }
.title {
  color: #c58f29;
    text-shadow: 1px 1px #2b6339;
  text-align: center;
}

.about-text{
    text-shadow: 1px 1px #2b6339;
  text-align: left;
  color: #c58f29;
}

header {
  opacity: 0.75;
  background: url(../image/vanessa_background.png) no-repeat;
  height: 100vh;
  background-position: bottom center;
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

  #front-text {
    text-align: center;
    color: white;
    text-shadow: 2px 3px #2b6339;
    margin-top: auto;
  }

  #hello {
    text-align: center;
    font-size: 48px;
    color: white;
    text-shadow: 2px 3px #2b6339;
    margin-top: auto;
  }

  .about-container,
  .container {
    margin-bottom: 4em;
  }

.row{
    display: flex;
    justify-content: space-around;
  }

  .col {
    transition: all .3s ease-in-out;
    position: relative;
    height: 350px;
    overflow: hidden;
  }

  .col img {
    transition: all .25s linear;
  }

  .col:hover{
    opacity: 0.75;
  }

.col:hover img {
  transform: scale(1.1);
}

.col .text-div {
    visibility: hidden;
    text-align: center;
    opacity: 0;
    position: absolute;
    display: block;
    min-width: 100%;
    bottom: -50px;
    left: 50%;
    transform: translate3d(-50%, 0%, 0);
    transition: all .25s linear;
    font-size: 36px;
    color: white;
    text-shadow: 2px 3px #2b6339;
  }
  .col:hover .text-div{
    visibility: visible;
    opacity: 1;
    bottom: 20px;
  }


.footer-container {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(103, 183, 96);
  color: white;
  padding: 20px;

}

p {
  color:#c58f29;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  word-spacing: 15px;
  text-shadow: 1px 1px black;
}
.col1-footer, .col2-footer {
  width: 100%;
  padding: 7px;
}
.copyright {
  background-color: rgb(110, 223, 100);
}

.footer-img {
  display: flex;
}

.footer-img a {
  padding: 20px;
}
main {
    flex: 1 0 auto;
  }
