body {
    text-align: center;

}
canvas{
   position: relative;
    top: 6em;
}

html, body{
  font-family: 'Amaranth', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height:100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: null;
  color: inherit;
}
#body-white{

  background: white;
  height: auto;
  width: 100%;
}
/* SIDEBAR*/
#sidebar {
  position: absolute;
  font-size: 28px;
  top: 0px ;
  transition: top 0.7s ease-in-out;
width: 100%;
background: #9B26AF;
}

.menu {
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  list-style: none;
}

.menu > li{
  color: #f7f7f7;
  float: left;
  display: inline-block;
  width:auto;
  margin-left:1%;
}
.menu > li:hover{
  background-color: #691A99;
}
.menu > li:nth-child(1){
  border: none;
}

.sidebar-menu {
  text-align: center;
  font-weight: bold;
  width: 10%;
  padding: 1%;
  display: inline-block;
  color: #f7f7f7;
}

/*footer*/

footer.footer-container:after {
    display: table;
    clear: both;
    content: '';
}

.footer-container {

  width: 100%;
  margin-top: 15%;
  font-family: 'Roboto', sans-serif;
  background-color: #9B26AF;
  color: white;
}


#copyright {
  color:white;
  font-size: 16px;
  word-spacing: 10px;
  margin-left: 330px;
  text-shadow: 1px 1px black;
}
.col1-footer, .col2-footer {
  width: 45%;
  box-shadow: null;
  text-shadow: none;
  float: left;
  padding: 2%;
}
.col1-footer {
 border-width: 0 0.5px 0 0;
 border-style: solid;
 border-color: null white null null;
}

p#SkypeButton_Call_vanessa.sangiorgio_1 {
  margin: 0;
  color:black;
}

.fa-envelope, .fa-sitemap{
  color: white;
  padding: 2%;
  margin-left: 5%;
}

.backtotop{
  display: inline-block;
  margin-left: 250px;
}

.copyright {
width: 100%;
margin: 0;
display: block;
float: left;
background: #691A99;
}

.footer-img {
  display: flex;
}
.footer-img a{
  padding: 2%;
  color: white;
}
.list-footer{
  box-shadow: none;
  text-decoration: none;
  list-style: none;
  margin-top: 2%;
  padding-left: 0;
  padding-right:0;
  background: #9B26AF ;
}

.fa-hand-o-up {
  margin-top: 80%;
  margin-left: 20%;
}


@media only screen and (max-width: 800px) {

  /* SIDEBAR*/
  #sidebar {
    height:100%;
    z-index: 10;
    top: 0;
    position: fixed;
    left:0;
    transform: translate3d(-100%,0,0);
    transition: all 0.7s linear;
    display: block;
  }

  .menu, #sidebar{
    height: 100%;
    text-decoration: none;
    cursor: pointer;
  }

  .menu > li{
    font-size: 20px;
    text-shadow: 1px 2px #691A99;
    display: block;
    width: 100%;
    height: 60px;
    border: none;

  }
  #sidebar.visible{
    transform: translate3d(0,0,0);
  }

  .sidebar-btn {
    width: 45px;
    height: 45px;
    position: fixed;
    cursor: pointer;
    left: auto;
    z-index: 20;
    right:25px;
    top: 25px;
  }

  .sidebar-btn > span {
    display: block;
    height:5px;
    background-color: #9b26af;
    margin-bottom: 5px;
  }

  .sidebar-btn > span:nth-child(2){
    background-color: deeppink;
  }

  .menu {
    height: 100%;
    position: relative;
    list-style: none;
    background-color: #691A99;
    padding-left: 0;
    padding-right: 0;
    margin:0;
    max-width: 50%;
  }

  .sidebar-menu {
    text-align: center;
    font-weight: bold;
    width: 25%;
    display: inline-block;
    color: #f7f7f7;
  }

  .sidebar-menu:hover {
    background:#9B26AF;
  }

  .menu > li:nth-child(1){
    background:none;
  }

  footer.footer-container:after {
      display: table;
      clear: both;
      content: '';
  }

  .footer-container {
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    background-color: #9B26AF;
    color: white;
  }

  #copyright {
    color:white;
    font-size: 16px;
    word-spacing: 10px;
    margin-left: 330px;
    text-shadow: 1px 1px black;
  }
  .col1-footer, .col2-footer {
    width: 100%;
    height:50%;
    box-shadow: null;
    text-shadow: none;
    padding: 2%;
  }

  .col1-footer {
   border-width: 0 0 0.5px 0;
   border-style: solid;
   border-color: null null white null;
  }

.list-contact{
  float: left;
  width:30%;
  height:50%;
}
.fa-sitemap{
float: left;
top:25px;
}

  .fa-skype, .fa-envelope, .fa-sitemap{
    color: white;
    padding: 2%;
    margin-left: 5%;
  }

  .backtotop{
    width:20%;
    float:left;
    margin-left:100px;
  }

  .copyright {
  width: 100%;
  margin: 0;
  display: block;
  float: left;
  background: #691A99;
  }

  .footer-img {
    width:70%;
  }
  .footer-img a{
    padding: 2%;
    color: white;
  }
  .list-footer{
    box-shadow: none;
    text-decoration: none;
    list-style: none;
    margin-top: 2%;
    padding-left: 0;
    padding-right:0;
    background: #9B26AF ;
  }

  .fa-hand-o-up {
    margin-top: 10%;

  }


}

///
@media only screen and (max-width: 450px) {

/* SIDEBAR*/

.fa-html5, .fa-css3{
  color: white;
font-size: 100px;
  margin-left:20%;
}
#sidebar {
      margin-left: -350px;
}

.menu > li{
  font-size: 16px;
  text-shadow: .5px 2px #691A99;
  display: block;
  width: 100%;
  height: 50px;
 border: none;
}
#sidebar.visible{
  margin-left: 0;
}


.menu {
  max-width: 55%;
}

.sidebar-menu:hover {

  background:#9B26AF;
}
/*footer*/

.footer-container{
  font-size: 10px;
}

#copyright{
    color:white;
    font-size: 10px;
    word-spacing: 4px;
    margin-left: 20px;
    text-shadow: 1px 1px black;
  }

}
