body {
  text-align: center;
}

canvas {
  position: relative;
  top: 6em;
}

html,
body {
  font-family: 'Amaranth', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: null;
  color: inherit;
}

#body-int {
  margin-top: 170px;
}
#Message-Apologize {
  display: none;
}

#body-white,
#body-int {
  background: white;
  height: auto;
  width: 100%;
}

#body-white {
  top: 5%;
}

.block {
  display: inline-block;
}


/* SIDEBAR*/

#sidebar {
  position: absolute;
  font-size: 22px;
  top: 0px;
  width: 100%;
  background: #9B26AF;
}

.menu,
.sidebar {
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  list-style: none;
}

.menu {
  width: 100%;
  position: relative;
  list-style: none;
}

.sidebar-menu {
  text-align: center;
  font-weight: bold;
  width: 10%;
  padding: 1%;
  display: inline-block;
  color: #f7f7f7;
}

.menu > li {
  color: #f7f7f7;
  float: left;
  display: inline-block;
  width: auto;
  margin-left: 1%;
}

.menu > li:hover {
  background-color: #691A99;
}

.menu > li:nth-child(1) {
  border: none;
}

.sidebar-menu {
  text-align: center;
  font-weight: bold;
  width: 10%;
  padding: 1%;
  display: inline-block;
  color: #f7f7f7;
}


/*button*/

button {
  display: inline-block;
  border-radius: 2px;
  background-color: #9B26AF;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  width: 150px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.createBy {
  font-size: 12px;
  margin-top: 5%;
}

/*MODAL*/

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(221, 202, 218, 0.9);
  z-index: 1;
}

.modal.isactive {
  display: block;
}

.modal-cont {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.fa-exclamation, .fa-check {
  color: #68efad;
  font-size: 20px;
  padding: 3px;
}

#mainform {
  padding: 2%;
  background-color: #9b26af;
}

#title-sub {
  color: white;
  font-weight: 500;
}

.fa-times {
  display: block;
  color: #9b26af;
  -webkit-transform: translate3d(-45%, 20%, 0);
          transform: translate3d(-45%, 20%, 0);
  cursor: pointer;
}

#returnmessage {
  color: white;
  font-weight: 100;
}

#title-modal {
  color: white;
}

#message {
  border: none;
  width: 90%;
  margin-top: 2px;
  height: 4.5em;
  padding: .5em;
}

.label,
input {
  height: 1.5em;
  border: none;
  width: 90%;
}

input {
  margin-bottom: .5em;
  padding: .5em;
}

.label {
  display: inline-flex;
  color: white;
  }

input#btnSubmit {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  background-color: #691A99;
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 15px;
  height: auto;
  width: 150px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(15%, 20%, 0);
          transform: translate3d(15%, 20%, 0);
}

#modal-cont {
  height: 35em;
}


/*footer*/

footer.footer-container:after {
  display: table;
  clear: both;
  content: '';
}

.footer-container {
  width: 100%;
  margin-top: 8%;
  font-family: 'Roboto', sans-serif;
  background-color: #9B26AF;
  color: white;
}

#copyright {
  color: white;
  font-size: 16px;
  word-spacing: 10px;
  margin-left: 330px;
  text-shadow: 1px 1px black;
}

.col1-footer,
.col2-footer {
  width: 45%;
  box-shadow: null;
  text-shadow: none;
  float: left;
  padding: 2%;
}

.col1-footer {
  border-width: 0 0.5px 0 0;
  border-style: solid;
  border-color: null white null null;
}

p#SkypeButton_Call_vanessa.sangiorgio_1 {
  margin: 0;
  color: black;
}

.fa-envelope,
.fa-sitemap {
  color: white;
  padding: 2%;
  margin-left: 5%;
  cursor:pointer;
}

.backtotop {
  display: inline-block;
  margin-left: 250px;
}

.copyright {
  width: 100%;
  margin: 0;
  display: block;
  float: left;
  background: #691A99;
}

.footer-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-img a {
  padding: 2%;
  color: white;
}

.list-footer {
  box-shadow: none;
  text-decoration: none;
  list-style: none;
  margin-top: 2%;
  padding-left: 0;
  padding-right: 0;
  background: #9B26AF;
}

.fa-hand-o-up {
  margin-top: 80%;
  margin-left: 20%;
}

@media only screen and (max-width: 800px) {
  #body-int {
    margin-top: 60px;
  }
  /* SIDEBAR*/
  .menu > li:nth-child(1) {
    margin-top: 150px;
    background: none;
  }
  /* SIDEBAR*/
  #sidebar {
    height: 100%;
    width: 50%;
    z-index: 10;
    top: 0;
    position: fixed;
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    -webkit-transition: all 0.7s linear;
    transition: all 0.7s linear;
    display: block;
    margin-top: 0;
  }
  .menu,
  #sidebar {
    height: 100%;
    text-decoration: none;
    cursor: pointer;
  }
  .menu > li {
    font-size: 20px;
    text-shadow: 1px 2px #691A99;
    display: block;
    width: 100%;
    height: 60px;
    border: none;
  }
  #sidebar.visible {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .sidebar-btn {
    position: fixed;
    width: 40px;
    height: 40px;
    cursor: pointer;
    top: 1%;
    left: 85%;
    z-index: 20;
    right: 15px;
  }
  .sidebar-btn > span {
    display: block;
    height: 5px;
    background-color: purple;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: deeppink;
  }
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .sidebar-btn > span:nth-child(2) {
    background-color: deeppink;
  }
  .menu {
    height: 100%;
    position: relative;
    list-style: none;
    background-color: #9B26AF;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .sidebar-menu {
    text-align: center;
    font-weight: bold;
    width: 25%;
    display: inline-block;
    color: #f7f7f7;
  }
  .sidebar-menu:hover {
    background: #9B26AF;
  }
  .menu > li:nth-child(1) {
    margin-top: 150px;
    background: none;
    margin-left: 0;
  }
  /**FOOTER**/
  footer.footer-container:after {
    display: table;
    clear: both;
    content: '';
  }
  .footer-container {
    width: 100%;
    height: auto;
    margin-top: 15%;
    font-family: 'Roboto', sans-serif;
    background-color: #9B26AF;
    color: white;
  }
  #copyright {
    color: white;
    font-size: 16px;
    word-spacing: 10px;
    margin-left: 10px;
    text-shadow: 1px 1px black;
  }
  .col1-footer,
  .col2-footer {
    width: 95%;
    height: 50%;
    box-shadow: null;
    text-shadow: none;
    padding: 2%;
  }
  .col1-footer {
    border-width: 0 0 0.5px 0;
    border-style: solid;
    border-color: null null white null;
  }
  .list-contact {
    float: left;
    width: 30%;
    height: 50%;
  }
  .fa-sitemap {
    float: left;
    top: 25px;
  }
  .fa-skype,
  .fa-envelope,
  .fa-sitemap {
    color: white;
    padding: 2%;
    margin-left: 2%;
  }
  .backtotop {
    width: 20%;
    float: left;
    margin-left: 100px;
  }
  .copyright {
    width: 100%;
    margin: 0;
    display: block;
    float: left;
    background: #691A99;
  }
  .footer-img {
    width: 70%;
  }
  .footer-img a {
    padding: 2%;
    color: white;
  }
  .list-footer {
    box-shadow: none;
    text-decoration: none;
    list-style: none;
    margin-top: 2%;
    padding-left: 0;
    padding-right: 0;
    background: #9B26AF;
  }
  .fa-hand-o-up {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 550px) {
canvas {display: none;}

#Message-Apologize{
    display: block;
    top: 100px;
    margin-top: 100px;
    color: #800080
}
}

@media only screen and (max-width: 450px) {
  /*modal*/
  /*modal contact form*/
  #mainform{
    padding: 3%;
  }
.modal-cont{
  width: 80%;
  transform: translate3d(-43%, -52%, 0);
}
  #title-modal{
    font-size: 18px;
  }

  #title-sub {
    font-size:14px;
  }

  .fa-times {
    font-size: 28px;
    -webkit-transform: translate3d(-40%, 160%, 0);
            transform: translate3d(-40%, 160%, 0);
  }
input#btnSubmit {
      transform: translate3d(36%, 19%, 0);
      width:120px;
  }

  .modal-indraw {
    height: 70%;
    width: 86%;
    transform: translate3d(-44%, -50%, 0);
  }
  div.desc {
    height: 27%;
    font-size: 12px;
  }
  .title-draw {
    font-size: 14px;
  }


  /* SIDEBAR*/
  .fa-html5,
  .fa-css3 {
    color: white;
    font-size: 100px;
    margin-left: 20%;
  }
  #sidebar {
    margin-left: -350px;
  }
  .menu > li {
    font-size: 16px;
    text-shadow: .5px 2px #691A99;
    display: block;
    width: 100%;
    height: 50px;
    border: none;
  }
  #sidebar.visible {
    margin-left: 0;
  }
  .menu {
    max-width: 55%;
  }
  .sidebar-menu:hover {
    background: #9B26AF;
  }
  /*footer*/
  .footer-container {
    font-size: 10px;
  }
  #copyright {
    color: white;
    font-size: 10px;
    word-spacing: 4px;
    margin-left: 0;
    text-shadow: 1px 1px black;
  }
  p#SkypeButton_Call_vanessa.sangiorgio_1 {
    margin: 0;
  }
  .col1-footer,
  .col2-footer {
    width: 95%;
  }
}
